.cover , .gamePage , .instruction{
    text-align: center;
}
#coverPhoto {
    height: 250px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
#gameLink{
    background-color: burlywood;
    font-size: 20px;
    font-weight:800;
    color: black;
    text-decoration:none;
}
#insTable {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
