@font-face{
    font-family: score;
    src: url("digital-7.ttf") format("TrueType");
}
#lion {
    height: 100px;
}
#samson {
    height: 100px;
}

#delilah {
    height: 100px;
}
.icon{
    display: inline-block;
    border: 3px solid black;
    border-radius: 50%;
    margin: 0px 20px;
}
.icon:hover{
    background-color: lightgray;
    border: 3px solid orange;
}
header{
    text-align: center;
    margin-bottom: 10%;
}


.c-score {
    float: right;
    margin-top: -130px;
    margin-right: 5%;    
}
#label {
    color: darkorange;
    font-weight: bold;
    font-size: 25px;
}
#playerScore {
    font-weight:bold;
    margin-left: 10px;
    font-size: 24px;
    font-family: score;
    background-color: black;
    color: red;
    text-align: center;
}
#compScore {
    position: relative;
    margin-top: 0;
    margin-right: 60px;
    font-size: 24px;
    font-family: score;
    background-color: black;
    color: red;
    text-align: center;
}

.p-score {
    margin-top: -130px;
    margin-left: 5%;
    float:  left;
}

.instruction , .icons , #result {
    text-align: center;
}
#result{
    margin-top: 5px;
    font-family: cursive;
    font-weight: bold;
}
#playerIcon , #compIcon {
    height: 150px
}
.compIcon {
    float: right;
    margin-top: -214px;
    margin-right: 150px;
}

.playerIcon {
    float: left;
    margin-left: 150px;
    margin-top: -214px;
}

.panel {
    margin-top: 250px;
}
    


.announce {
    margin-top: -120px
}

#playerWin {
    height: 50px;
    margin-bottom: -45px;
    margin-left: -105px;
}

#compWin {
    height: 50px;
    margin-bottom: -45px;
    margin-left: -100px;
}

.limitPanel {
    text-align: center;
    margin-top: -50px;
    margin-bottom: 30px;
}
#limitButton {
    background-color: darkorange;
    color: white;
}

#input {
    border: 2px solid darkorange;
}
#title {
    color: darkorange
}

#selected {
    color: darkorange;
}
